.App {
  text-align: center;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Hands {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

table {
  margin-right: 5%;
}

.results-container {
  display: flex;
  margin: auto;
}
.results-container > div {
  margin: 10%;
  margin-top: 0%;
  padding: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
